* {
  margin: 0;
  padding: 0;
}

:root {
	/* colors */
  --workColor: #f25b50;
  --shortBreakColor: green;
  --longBreakColor: blue;
	--shawDowColor: grey;
	--inputBoxColor: rgb(230, 230, 230);

	/* font */
	--fontWeightNormal: 300;
	--fontWeightBold: 700;
	--fontSizeTitle: 20px;
	--fontSizeNormal: 16px;
	--fontSizeSmall: 12px;
	--fontSizeBigTitle: 3rem;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: var(--workColor);
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

/* flash */ 
.flash-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flash-title {
	font-size: var(--fontSizeBigTitle);
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.header-btn-group {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 1.5rem;
}

.header-menu {
	width: 100px;
	height: 50px;
	background-color: white;
	padding-top: 10px;
	padding-left: 10px;
}

.header-logout {
	color: black;
	cursor: pointer;
}

.header-logout:hover {
	color: var(--workColor);
}

.header-btn {
  margin-right: 20px;
  border: 1px solid white;
  width: 100px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.header-line {
  margin-top: 10px;
  border: 1px solid white;
}

/* Main style */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.time-type-area {
  width: 400px;
  height: 300px;
  background-color: #f06e65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  border-radius: 10px;
}

.time-type-group {
  display: flex;
  gap: 20px;
}

.time-type-box {
  width: 110px;
  height: 30px;
  background-color: #d44339;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

.time-run {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  margin-top: 20px;
}

.affect-time-group {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.toggle-time-btn {
  width: 100px;
  height: 50px;
  background-color: white;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 50px;
  cursor: pointer;
}

.skip-next-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* popup style */
.popup-container {
	color: black;
	background-color: white;
	width: 400px;
	min-height: 850px;
	border-radius: 10px;
	box-shadow: 2px 2px var(--shawDowColor);
	font-size: var(--fontSizeNormal);
	padding-right: 15px;
	padding-left: 15px;
}

.popup-exit {
	color: var(--workColor);
	cursor: pointer;
}

.popup-exit:hover {
	color: green;
}

.popup-header {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px 10px 10px;
	font-size: var(--fontSizeTitle);
	font-weight: var(--fontWeightBold);
	opacity: 0.5;
}

hr {
	width: 100%;
	margin: auto;
	opacity: 0.3;
}

.popup-time-amount-setup {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 15px 0px 15px 0px;
}

.popup-item-title {
	font-weight: var(--fontWeightBold);
}

.popup-time-amount-box {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.popup-time-box {
	width: 30%;
	padding-top: 10px;
}

.popup-time-input-label {
	font-size: var(--fontSizeSmall);
	font-weight: var(--fontWeightBold);
	opacity: 0.5;
}

.popup-number-input {
	width: 90px;
	height: 30px;
	border: none;
	padding: 5px 0px 5px 10px;
	background-color: var(--inputBoxColor); 
	border-radius: 5px;
}

.popup-number-input:focus {
	outline: none;
}

.popup-one-line-control {
	display: flex;
	margin: 15px 0px 15px 0px;
	justify-content: space-between;
	align-items: center;
}

.popup-multi-line-control {
	display: flex;
	justify-content: space-between;
	margin: 15px 0px 15px 0px;
}

.popup-multi-options {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-end;
}

.popup-select {
	width: 100px;
	height: 40px;
	border: none;
	background-color: var(--inputBoxColor);
	padding-left: 10px;
}

.popup-select:focus {
	outline: none;
}

.popup-alarm-repeat {
	display: flex;
	align-items: center;
	gap: 10px;
}

.popup-repeat-input {
	width: 70px;
	height: 30px;
}

.popup-notification-setup {
	display: flex;
	gap: 5px;
	align-items: center;
}

.popup-button-area {
	width: 100%;
	height: 40px;
	background-color: var(--inputBoxColor);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.popup-button-area button {
	width: 60px;
	height: 30px;
	border: none;
	background-color: black;
	color: white;
	margin-right: 15px;
	border-radius: 5px;
}

.popup-button-area button:hover {
	opacity: 0.5;
	cursor: pointer;
}

/* sign in  */
.signin-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
}

.back-btn {
	position: absolute;
	left: 50px;
	top: 50px;
	cursor: pointer;
}

.big-title {
	font-size: var(--fontSizeBigTitle);
	margin-top: 100px;
	margin-bottom: 50px;
	font-weight: var(--fontWeightBold);
}

form {
	display: flex;
	flex-direction: column;
	width: 300px;
	padding: 20px 20px 20px 10px;
	gap: 30px;
	margin-top: 10px;
}

.credential {
	padding: 15px 10px 15px 10px;
	border: 1px solid white;
	border-radius: 10px;
}

.credential:focus {
	outline: none;
}

.keep-signin {
	margin-top: -10px;
	margin-left: 5px;
}

.keep-signin input {
	width: 15px;
	height: 15px;
	background-color: white;
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid #ddd;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer
}

.keep-signin input:checked {
	background-color: red;
}

.signin-btn {
	margin-top: 10px;
	font-weight: var(--fontWeightBold);
}

.signin-btn:hover {
	cursor: pointer;
	position: relative;
	bottom: 2px;
	color: var(--workColor);
}

.row {
	display: flex;
	gap: 20px;
	font-size: var(--fontSizeSmall);
	align-items: center;
}

.signup-link {
	text-decoration: underline;
	cursor: pointer;
}


@media only screen and (max-width: 680px) {
  .time-type-area {
    transform: scale(0.9);
  }
  .container {
    align-items: center;
  }

	.header {
		gap: 70px;
	}

	.header-line {
		width: 100%;
	}

	.header-btn-group {
		flex-direction: column;
		gap: 5px;
	}

	.popup-container {
		transform: scale(0.8);
		position: relative;
		left: 80px;
		bottom: 50px;
	}

}
